{% extends "layout.html" %}

{% block content %}
  <form id="form-filter">
    <div class="ui stackable grid">
      <div class="four wide column">
        <div class="ui fluid input">
          <input name="forward_pe" type="text" placeholder="P/E Ratio" value="{{ forward_pe }}">
        </div>
      </div>
      <div class="four wide column">
        <div class="ui fluid input">
          <input name="dividend_yield" type="text" placeholder="Dividend Yield" value="{{ dividend_yield }}">
        </div>
        </div>
      <div class="four wide column middle aligned">
        <div class="ui checkbox">
          <input name="ma50" type="checkbox" {% if ma50 %} checked {% endif %}>
          <label>Above 50 day MA</label>
        </div>
        </div>
      <div class="four wide column middle aligned">
        <div class="ui checkbox">
          <input name="ma200" type="checkbox" {% if ma200 %} checked {% endif %}>
          <label>Above 200 day MA</label>
        </div>
      </div>
    </div>
    <div class="ui container">
      <div class="ui grid">
        <div class="two column row">
          <div class="column">
            <button type="submit" class="ui button primary" id="btn-filter">Filter</button>
            <div id="btn-clear" class="ui button" onclick="clearFilters();">Clear</div>
          </div>
          <div class="column">
            <div id="btn-add-stocks" class="ui button green right floated" onclick="showModal()">Add Symbols</div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <table class="ui celled table">
    <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Forward P/E</th>
          <th>Forward EPS</th>
          <th>Dividend Yield</th>
          <th>50 Day Avg</th>
          <th>200 Day Avg</th>
        </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
        <tr>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.price }}</td>
          <td>{{ stock.forward_pe }}</td>
          <td>{{ stock.forward_eps }}</td>
          <td>{{ stock.dividend_yield }}</td>
          <td>{{ stock.ma50 }}</td>
          <td>{{ stock.ma200 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">Add stock symbol</div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Enter Stock Symbol</label>
          <textarea name="" id="symbols" cols="30" rows="10"></textarea>
        </div>
      </form>
    </div>
    <div class="actions">
      <div id="save" class="ui positive right labeled icon button">
        Add Symbols
        <i class="plus icon"></i>
      </div>
    </div>
  </div>
  <script>
    function showModal() {
      $('.ui.modal').modal('show');
    }
    function clearFilters() {
      $('#form-filter').find("input[type=text], textarea").val("");
      $('#form-filter').find("input[type=password]").val("");
      cbs = $('#form-filter').find("input[type=checkbox]");
      for (i=0;i<cbs.length;i++) {
        cb = cbs[i];
        cb.checked = false;
      }

    }
    $(document).ready(function() {
      $('#save').click( () => {
        var symbols = $('#symbols').val();
        console.log(symbols);
        symbols = symbols.split('\n');
        console.log(symbols);
        for (var i=0;i<symbols.length;i++) {
          console.log(symbols[i]);
          $.ajax( {
            url: '/stock',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({'symbol': symbols[i]}),
            dataType: 'json'
          })
        }
      });
    });
  </script>
  {% endblock %}
